# IDE and text editor
.idea/
.vscode/

# Custom configuration file
config_custom.yml

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Vendor files
vendor/

# Rust compiled files
/target
**/*.rs.bk
