[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pykalman = "*"
autopep8 = "*"
invoke = "*"
adafruit-gpio = "*"
hx711 = "*"
board = "*"
pycryptodome = "*"
jsonpickle = "*"
aenum = "*"
pyyaml = "*"
sphinx = "*"
numpy = "*"
scipy = "*"
autodoc = "*"

[requires]
python_version = "3.7"
