Adafruit-BNO055==1.0.2
adafruit-circuitpython-bno055==4.0.0
adafruit-circuitpython-busdevice==4.0.0
adafruit-circuitpython-max31856==0.8.3
adafruit-circuitpython-register==1.7.1
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==1.3.4
Adafruit-PureIO==0.2.3
aenum==2.2.2
board==1.0
hx711==1.1.2.3
jsonpickle==1.2
numpy==1.16.2
pykalman==0.9.5
pyserial==3.4
PyYAML==5.1.2
requests==2.21.0
rpi-ws281x==4.2.2
RPi.GPIO==0.7.0
scipy==1.1.0
spidev==3.4
